@model int

<div class="container mt-4">
    <div class="mb-4">
        <h2 class="text-center">Eliminacion del usuario n°@Model </h2>
    </div>
    <h3 class="text-center">¿Desea eliminar el usuario?</h3>
    <div class="text-center">
        <a asp-controller="Usuarios" asp-action="Eliminar" asp-route-id="@Model" class="btn btn-danger">Eliminar</a>
        <a asp-controller="Usuarios" asp-action="Index" class="btn btn-primary">Cancelar</a>
    </div>
</div>