@model LoginVM

@{
    //Mensaje de acceso denegado, por si se intenta acceder al cambio de contraseña si nombre de usuario.
    var errorMessage = TempData["ErrorMessage"]; 
    //Mensaje de sesion cerrada con exito.
    var successMessage = TempData["SuccessMessage"]; 

}

@if(errorMessage!=null){
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        
        @errorMessage
    
    </div>

}

@if(successMessage!=null){    
    
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        
        @successMessage

    </div>

}

<h1 class="text-center">Login</h1>

<h3 class="text-center">Iniciar Sesión</h3>

<div class="d-flex justify-content-center">

    <!-- Formulario de inicio de sesión. -->
    <form method="post" asp-action="Login" class="w-50"> 

        <div class="form-group">
        
            <label asp-for="nombreDeUsuario" class="form-label">Usuario:</label>
            <input class="form-control" asp-for="nombreDeUsuario" value="@Model.nombreDeUsuario">
            <span asp-validation-for="nombreDeUsuario" class="text-danger"></span> <!-- Validación para nombre de usuario. -->
        
        </div>
        
        <div class="form-group">
        
            <label asp-for="password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" asp-for="password">
            <span asp-validation-for="password" class="text-danger"></span> <!-- Validación para contraseña. -->
        
        </div>
        
        <div class="mt-3 d-flex justify-content-between">
        
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        
        </div>
        
    </form>

</div>

@section Scripts{<partial name="_ValidationScriptsPartial"/>}

<script>
    //Funcion que elimina Mensaje de error despues de 5 segundos
    setTimeout(() => document.querySelector(".alert").remove(), 5000); 
</script>