@model tl2_proyecto_2024_Olme2.Models.ErrorViewModel

<div class="container mt-5">

    <div class="text-center">

        <h1 class="text-danger">¡Oops! Algo salió mal 😢</h1>
        <p class="lead">Ha ocurrido un error inesperado. Estamos trabajando para solucionarlo.</p>

        @if (Model.ShowRequestId)
        {
            <p class="text-muted">ID de solicitud: <strong>@Model.RequestId</strong></p>
        }

        <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>

    </div>
    
</div>
