@model EliminarTareaVM
@{
    string? previousUrl = TempData["PreviousUrl"] as string;
}

<div class="container mt-4">
    <div class="mb-4">
        <h2 class="text-center">Eliminación de la tarea "@Model.nombre"</h2>
    </div>
    <h3 class="text-center">¿Desea eliminar la tarea?</h3>
    <div class="text-center">
        <form asp-action="Eliminar" method="post">
            <input type="hidden" asp-for="@Model.id"/>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        @if (!string.IsNullOrEmpty(previousUrl) && previousUrl.Contains("Tablero/VerTablero")){
            <a asp-controller="Tablero" asp-action="VerTablero" asp-route-id="@Model.idTablero" class="btn btn-primary">Cancelar</a>
        }else{
            <a asp-action="Index" class="btn btn-primary">Cancelar</a>
        }
    </div>
</div>
